body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
  margin: auto;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.countdown {
  display: flex;
  gap: 40px;
}

.number {
  background: #1a1a1a;
  color: white;
  font: 700 normal 128px/150px arial;
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 40px rgb(149, 173, 149);
}

.txt {
  font: 300 normal 35px/46px arial;
  color: white;
  text-shadow: 0px 0px 10px rgb(24, 214, 24);
}

#form {
  color: white;
  text-transform: capitalize;
  font: 600 normal 1rem/1rem arial;
  text-shadow: 0px 0px 10px rgb(24, 214, 24);
  padding: 10px;
  border-radius: 20px;
  /* background: rgb(0, 0, 0); */
  box-shadow: 0 0 20px rgb(2, 0, 0);
}

#form button {
  border-radius: 8px;
}

.reset {
  padding: 12px 24px;
  background: rgb(224, 224, 224);
  color: black;
  border-radius: 8px;
  text-transform: capitalize;
  font: 600 normal 1rem/1rem arial;
  border: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .countdown {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .number {
    font: 700 normal 50px/24px arial;
    width: 150px;
    padding: 0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .txt {
    font-size: 20px;
    margin: 0;
  }

  #form {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 1rem;
    width: 90%;
  }

  #form label {
    width: 100%;
    display: block;
    margin: 0 0 0.5rem;
  }
  #form input {
    width: 40%;
    height: 30px;
    box-sizing: border-box;
  }
  #form button {
    width: 40%;
    height: 33px;
    box-sizing: border-box;
    border: 2px solid black;
  }
  .reset {
    width: 150px;
  }
}
